// variables
// ------------------------------------------

$colors: (
  primary:    #189BA3,
  secondary:  #6fc6cc,
  gray:       #ccc
);

$font-family-normal: 'Quicksand', "Microsoft JhengHei", sans-serif;
